.card-selector-list {
    position: absolute;
    left: 100%;
    top: 0;
    background-color: white;
    z-index: 100;
}

.card-selector-list header {
    display: flex;
    justify-content: space-between;
}

.card-selector-list ul {
    min-width: 320px;
}

.card-selector-list li {
    position: relative;
    display: flex;
    justify-content: space-between;
    overflow: hidden;
    border-bottom: 1px solid var(--borderColor);
}

.card-selector-list li input {
    max-width: 50px;
    margin-right: 20px;
}